<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homepage"
    android:usesCleartextTraffic="true"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/cyrun"
        android:label="@string/CyRUN"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrdersPreview"></activity>
        <activity android:name=".RunnerPendingOrders" />
        <activity android:name=".NewLocation" />
        <activity android:name=".RunnersPage" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".UserSignUpActivity" />
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".LocationsMenuActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".UserOrderDetailsActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>